/* Seccion uno */
/* Estilos para el contenedor principal */
.main-container-briefcase {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

/* Estilos para el título */
.main-title-briefcase {
  font-size: 28px;
  color: #d9d9d9;
}

/* Estilos del contenedor de secciones del portafolio */
.main-container-sections-portfolio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Estilos para el título */
.title-briefcase {
  font-size: 18px; /* Tamaño de fuente para el título */
  color: #d9d9d9;
}

/* Estilos para los parrafos */
.briefcase-paragraph {
  font-size: 16px;
  color: #b8b8b8;
}

/* Texto ver mas */
.text-see-more-portfolio {
  font-size: 14px;
  color: #006eff;
  cursor: pointer;
  text-decoration: none;
}

/* Estilos de cada seccion del portafolio */
.container-title-briefcase {
  width: 23%;
  flex: 1;
  margin-right: 20px;
  padding: 20px;
  border: 1px solid hsl(214, 100%, 50%);
  border-radius: 5px;
}

/* Estilos para el nombre del portafolio */
.project-name {
  padding: 4px;
  margin: 0;
  background: linear-gradient(45deg, #006eff, #ffffff);
}

.container-title-briefcase:last-child {
  margin-right: 0;
}


/* Seccion dos */
.main-container-two-sections-portfolio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}