/* Frank */

/* Estilos para el contenedor principal de la página de Contacto */
.main-container-contact {
  max-width: 1200px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrar el contenedor en la página */
  padding: 20px; /* Añadir espacio interno al contenedor */
  border-radius: 8px; /* Esquinas redondeadas del contenedor */
}
  
/* Estilos para los encabezados dentro del contenedor */
.container-main-title-contact .main-title-contact {
  font-size: 28px; /* Tamaño de fuente para el encabezado principal */
  margin-bottom: 20px; /* Espacio inferior para separar el encabezado del contenido */
  color: #d9d9d9;
}

/* Estilos para los párrafos */
.contact-paragraph {
  font-size: 16px; /* Tamaño de fuente para el contenido del párrafo */
  line-height: 1.6; /* Altura de línea para mejorar la legibilidad */
  margin-bottom: 15px; /* Espacio inferior entre párrafos */
  color: #b8b8b8;
}

/* Estilos para el contenedor del título */
.container-title-contact {
  margin-bottom: 20px; /* Espacio inferior para separar el título del contenido */
}

/* Estilos para el título */
.title-contact {
  font-size: 18px; /* Tamaño de fuente para el título */
  color: #d9d9d9;
}

/* Estilos para el contenedor de párrafos */
.contact-paragraph-container {
  margin-bottom: 30px; /* Espacio inferior para separar el contenedor de párrafos del siguiente elemento */
}

/* Estilos para el contenedor principal del formulario */
.contact-form-main-container {
  /*max-width: 600px;  Ancho máximo del contenedor */
  /*margin: auto;  Centra el contenedor en la página */
  display: flex;
}

/* Estilos para las columnas */
.container-column-two-form {
  flex: 1;
  margin-right: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #272727;
}

.container-column-two-form:last-child {
  margin-right: 0;
}

/* Estilos generales para el formulario */
.contact-form-content {
  display: flex; /* Usa un diseño de caja flexible (flexbox) */
  flex-direction: column; /* Coloca los elementos en una columna */
}

/* Estilos para las etiquetas de los campos del formulario */
.form-tag-titles {
  margin-bottom: 8px; /* Espaciado inferior para separar las etiquetas de los campos */
  color: #f0f0f0;
}

/* Estilos comunes para campos de entrada y área de texto */
.form-input-field {
  padding: 10px; /* Espaciado interno para mejorar la apariencia */
  margin-bottom: 16px; /* Espaciado inferior para separar los campos */
  border: 1px solid #ccc; /* Borde del campo con color gris claro */
  border-radius: 4px; /* Esquinas redondeadas para suavizar la apariencia */
  background-color: #d4d4d4;
  color: #333;
  font-size: 15px;
  outline: none;
}

/* Estilos para el botón de envío */
.submit-form-button {
  padding: 10px; /* Espaciado interno del botón */
  font-size: 16px;
  background-color: #006eff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none; /* Sin borde alrededor del botón */
  border-radius: 4px; /* Esquinas redondeadas para suavizar la apariencia */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* Estilos para el botón cuando el mouse pasa sobre él */
.submit-form-button:hover {
  background-color: #358dff; /* Cambia el color de fondo al pasar sobre el botón */
}

/* Estilos para el titulo de la columnas dos */
.title-column-two {
  color: #ffffff;
}

/* Estilos para el parrafo de la columnas dos */
.paragraph-column-two {
  color: #ececec;
}

/* Estilos opcionales para dispositivos con pantalla de hasta 600px de ancho */
@media screen and (max-width: 600px) {
  .contact-form-main-container {
    width: 100%; /* Ajusta el ancho del contenedor al 100% en dispositivos más pequeños */
  }
}
  